@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    letter-spacing:1.5px;
    overflow-x: hidden;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    letter-spacing:1.5px;
}

main{
    display: grid;
    grid-template-areas: 
    'header header header header '
    'fstSection fstSection fstSection fstSection'
        'scdSection scdSection scdSection scdSection '
        'thdSection thdSection thdSection thdSection'
        'footer footer footer footer';
        grid-template-rows:  100vh 70vh 60vh 100vh 35vh;

}



/* formatar logo aqui */
.logo{
    /* font-family: 'Comfortaa', cursive;
    font-weight: 600;
    letter-spacing:2px; */
    width: 120px;
    height: 100px;
}
.logofooter{
    width: 110px;
    height: 90px;
}
h1,
h2,
h3{
    font-family: 'Roboto Slab', serif;
    color: #3A1A53;
}

h2 {
    font-size: 1.4rem;
}

h1 {
    font-weight: 800;
    font-size: 40pt;
}

input {
    outline-color: rgba(0, 0, 0, 0);
}

/* -----------------------------------------------------------NAV----------------------------------------------------- */
nav {
    position:fixed;
    width:100%;
    z-index:9999;
    display: flex;
    grid-area: nav;
    align-items: center;
    justify-content: space-around;
    
    color: rgb(19, 19, 19);
    background-color: #EAE6FF;

}

.menu-button{
    height: 8vh;
    width: 7vw;
}

.nav-icon{
    display: none;
}

.menu-button .line{
    display: block;
    margin-bottom: 5px;
    height: 5px;
    background-color: #0f0f0f;
}

/* Aqui ficam os li */
nav ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

nav li:hover {
    transition: 0.5s;
    color: #903A64;
    cursor: pointer;
    background-color: transparent;
}

/* botões primarios: submit e login  */

.primary,
.secondary {
    background: #9D5BB2;
    background: linear-gradient(to bottom right, #9D5BB2, #EF698C);
    color: white;
    border-radius: 40px;
    transition: 1s;
}



.primary:hover,
.secondary:hover {
    background: linear-gradient(to bottom right,  #EF698C , #9D5BB2);
    transform: scale(1.1);
}


button,
input[type=submit] {
    font-weight: bold;
    padding: 5px 25px;
    cursor: pointer;
    outline: none;
    background-color: inherit;
}


/* ----------------------------------------------------------HEADER-------------------------------- -------*/
header {
    background-color: #EAE6FF;
    background-image: url('../img/44.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 220px;
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header div.input-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ul-resultados {
    overflow-y: scroll;

}

.resultados {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.instituicao-container {
    max-height: 100px;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.instituicao-container:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.instituicao-container button {
    border: 2px solid purple;
}

span.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

span.column {
    text-align: center;

}

.instituicao-container img {
    max-height: 70px;
    max-width: 70px;

}


header input {
    font-size: 1.2rem;
    text-align: center;
}

/* container do titulo e da descrição */
header .info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


/* ------------------------------------- BARRA DE PESQUISA ---------------------------------- */
.search-bar {
    margin: 20px 8px 5px 8px;
    box-shadow: 0 0px 6px -6px rgba(119, 119, 119, 0.514);
    background-color: white;
    display: flex;
    justify-content: "space-around";
    align-items: center;
}


header input {
    border-radius: 22px;
    height: 50px;
    padding-left: 25px;
    width: 300px;
    outline: none;
}

header img {
    border-radius: 22px;
    padding-right: 15px;
}

/* header input[type=text] {
    border-radius: 25px 0 0 25px;
    padding-left: 20px;
    width: 400px;
}
header input[type=submit] {
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    margin-left: -5px;
    width: 80px;
} */
/* ----------------------------------------- 1: SECTION SOBRE A PLATAFORMA --------------------------------------- */

section.projeto-section {
    grid-area: fstSection;
    display: flex;
    margin: 10px;
    text-align: center;
    justify-content: space-around;
}

.projeto-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img {
    margin: 40px;
    margin-left: 40px;
    width: 65px;
    height: 65px;
    position: absolute;
}

.txt-projeto {
    margin: 40px;
    margin-top: 80px;
    margin-left: 580px;
    text-align: left;
    font-size: 15pt;
}

.projeto p {
    color: black;
    background: transparent;

}

.cadastrobtn {
    background: #9D5BB2;
    background: linear-gradient(to bottom right, #9D5BB2, #f58653);
    color: white;
    border-radius: 35px;
    transition: 0.5s;
    width: 150px;
    height: 40px;
    font-size: 14pt;
}

/* --------------------------------------------- 2: SECTION CARROSEL --------------------------------------------- */

.carrossel {
    grid-area: scdSection;
    background-image: url('../img/gif2.gif');

    background-repeat: no-repeat;
    background-size: 100% 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

section .box-text {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.box-text h2 {
    text-align: center;
    line-height: 30pt ;
    text-justify: inter-caracter;
    margin: 0;
    color: white;
    text-shadow: rgb(173, 170, 170) 1px 1px 1px;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* style dos prev e next do carrosel */

.prev,
.next {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;

}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* syle dos dots horizontais do carrosel */


.navegation {
    background-color: transparent;
    display: flex;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 5px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 35px;
    margin: 2px;
    background-color: #3A1A53;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #9D5BB2;
    ;
}

.video {
    position: relative;
}


/* ------------------------------------- 3: SECTION SOBRE AS VANTAGENS -------------------------------------------- */

section.sobre {
    grid-area: thdSection;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


/* O que segura os itens da section sobre */

div.sobre-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Os cards da section sobre */

div.items {
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.items img {
    height: 60px;
}


.label {
    display: flex;
    flex-direction: column;
}

/* ----------------------------------------------login modal ----------------------------------------*/

.login-container {
    background-color: #ffffffd0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
}

.mostrar {
    display: flex;
}

.p-login {
    background: -webkit-linear-gradient(left, #9D5BB2, #EF698C);
    background: linear-gradient(to right, #9D5BB2, #EF698C);
    font-family: 'Roboto Slab', serif;
    font-size: 20pt;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translate(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0, 0, 0);
    }
}

.login {
    animation-name: animation;
    animation-duration: 1s;
    background-color: white;
    font-family: sans-serif;
    color: #3a1a53;
    width: 35%;
    min-width: 300px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #3a1a53;
    position: relative;
    align-items: center;
}

.form-login {
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    align-content: center;
    display: flex;
    justify-items: center;
}

.btnfechar {
    position: absolute;
    border-radius: 0 5px 0 0 ;
    font-size: 1.2rem;
    width: auto;
    right: 0px;
    height: 35px;
    top: 0px;
    background: linear-gradient(to bottom right, #9D5BB2, #EF698C);
    font-family: 'Varela Round', sans-serif;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.entrarbtn {
    background: linear-gradient(to bottom right, #9D5BB2, #EF698C);
    font-family: 'Varela Round', sans-serif;
    color: white;
    align-content: center;
    border-radius: 35px;
    transition: 0.5s;
    margin-top: 15px;
    cursor: pointer;

}


/* coloca shadow nas caixas de texto */
#modal input {
    width: 300px;
    height: 30px;
    background-color:#fff;
    box-shadow: 1px 1px 1px 2px #3333333b;
    border-radius: 5px;
}

#modal {
    align-content: center;
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* ----------------------footer------------------------------------------- */
footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #2d3436;
    background: linear-gradient(to bottom right, #2d3436, #0f0f0f); */
    background-color: #EAE6FF;
}



.links {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Redes {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.names {
    width: 385px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.names p {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    color: #ffff;

}

.balltwt {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url('../img/logos/linkedin\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ballinsta {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url('../img/logos/instagram.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ballfb {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url('../img/logos/facebook.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ballyt {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url('../img/logos/youtube.png');
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



footer ul{
    text-align: center;
    color: black;

}
footer h3 {
    /* color:#BFB5F1; */
    color: black;
}


@media(max-width: 760px) {
    main {
        font-size: 1.4rem;
        grid-template-rows: 80vh 80vh 80vh auto auto 70vh;
        grid-template-areas:             'header header header header '
            'fstSection fstSection fstSection fstSection'
            'scdSection scdSection scdSection scdSection '
            'thdSection thdSection thdSection thdSection'
            'registrar registrar registrar registrar '
            'footer footer footer footer';
    }

    .logo{
        width: 90px;
        height: 70px;
    }
    .resultados{
        height: 100vh;
    }

    nav ul , nav li , nav button {
        display: none;
    }

    nav{height: 10vh;}

    .nav-icon{
        display: block;
    }


    header{
        background-image: none;
        background-color: #EAE6FF;
    }

    header .input-container{
        flex-direction: column;
    }    
    
    header .info-content {
        justify-content: baseline;
        flex-direction: column;
        align-items: center;
    }

    header p {
        text-align: center;
    }


    .projeto .img{ display:none;}

    .projeto{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .txt-projeto{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin: auto;
    }

    /* ------------------------- */

    section.sobre {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    section.sobre .sobre-content {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    div.items {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 60%;
    }

    div.items img {
        padding: 15px;
        border-radius: 40px;
    }

    /* ----------------------------------------------------------------- */

    section.carrossel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5% 0;
        
    }
    
    .links , .Redes{
        width: 80%;
    }

    .carrossel h2{
        font-size: 22pt;
    }
    .carrossel.form {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .carrossel input {
        text-align: center;
        padding: 0;
        width: 100%;
        border-radius: 10px 10px 0 0;
        display: block;
    }

    iframe {
        margin-top: 5%;
    }

    .carrossel button {
        margin: 0;
        width: 100%;
        border-radius: 0 0 10px 10px;
        display: block;
    }

    /* ============================================================================= */
    footer{
        flex-direction: column;
    }
}
