@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

body {
    background-color: #fff;
    background-color: white;
    display: grid;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    grid-template-areas: 'nav nav nav nav'
        'header header header header '
        'fstSection fstSection fstSection fstSection'
        'scdSection scdSection scdSection scdSection '
        'thdSection thdSection thdSection thdSection'
        'footer footer footer footer';
    grid-template-rows: 10vh 90vh 40vh 50vh 90vh 40vh;
}



/* formatar logo aqui */
span.logo {
    font-family: cursive;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;
    color: #3A1A53;
}

h2 {
    font-size: 1.4rem;
}

h1 {
    font-size: 2.5rem;
}

input {
    outline-color: #FF5C5A;
}

/* -----------------------------------------------------------NAV----------------------------------------------------- */
nav {
    align-items: center;
    display: flex;
    grid-area: nav;
    justify-content: space-around;
    color: rgb(19, 19, 19);
    background-color: #EAE6FF;
}

/* Aqui ficam os li */
nav ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

nav li:hover{
    transition: 0.5s;
    color: #ff6b6b;
    cursor: pointer;
    background-color: transparent;
}

/* botões primarios: submit e login  */

.primary ,.secondary {
    background: #9D5BB2;
    background: linear-gradient(to bottom right, #9D5BB2, #EF698C);
    color: white;
    border-radius: 35px;
    transition: 0.5s;
}



.primary:hover, .secondary:hover {
    transform: scale(1.1);
}


button,
input[type=submit] {
    font-weight: bold;
    padding: 0 25px;
    cursor: pointer;
    outline: none;
    background-color: inherit;
}


/* ----------------------------------------------------------HEADER-------------------------------- -------*/
header {
    background-color: #EAE6FF;
    background-image: url('../img/44.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 220px;
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header div.input-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ul-resultados {
    overflow-y: scroll;

}

.resultados {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.instituicao-container {
    max-height: 100px;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.instituicao-container:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

.instituicao-container button {
    border: 2px solid purple;
}

span.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

span.column {
    text-align: center;

}

.instituicao-container img {
    max-height: 70px;
    max-width: 70px;

}


header input {
    font-size: 1.2rem;
    text-align: center;
}

/* container do titulo e da descrição */
header .info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


/* ------------------------------------- BARRA DE PESQUISA ---------------------------------- */
.search-bar {
    margin: 20px 8px 5px 8px;
    box-shadow: 0 0px 6px -6px rgba(119, 119, 119, 0.514);
    background-color: white;
    display: flex;
    justify-content: "space-around";
    align-items: center;
}


header input {
    border-radius: 22px;
    height: 50px;
    padding-left: 25px;
    width: 300px;
    outline: none;
}

header img {
    border-radius: 22px;
    padding-right: 15px;
}

/* header input[type=text] {
    border-radius: 25px 0 0 25px;
    padding-left: 20px;
    width: 400px;
}
header input[type=submit] {
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    margin-left: -5px;
    width: 80px;
} */
/* ----------------------------------------- 1: SECTION SOBRE A PLATAFORMA --------------------------------------- */

section.projeto {
    grid-area: fstSection;
    background: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

/* --------------------------------------------- 2: SECTION CARROSEL --------------------------------------------- */

section.carrossel {
    grid-area: scdSection;
    background: #5243A9;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

section.box-text {
    display: none;
}

.box-text h2 {
    color: white;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* style dos prev e next do carrosel */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* syle dos dots horizontais do carrosel */


.navegation {
    display: flex;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 20px;

}

.dot {
    cursor: pointer;
    height: 10px;
    width: 35px;
    margin: 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* ------------------------------------- 3: SECTION SOBRE AS VANTAGENS -------------------------------------------- */

section.sobre {
    grid-area: thdSection;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

/* O que segura os itens da section sobre */

div.sobre-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Os cards da section sobre */

div.items {
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.items img {
    height: 60px;
}


.label {
    display: flex;
    flex-direction: column;
}

/* ----------------------------------------------login modal ----------------------------------------*/

.login-container {
    background-color: #ffffffd0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
}

.mostrar {
    display: flex;
}

.p-login {
    background: -webkit-linear-gradient(left, #9D5BB2, #EF698C);
    background: linear-gradient(to right, #9D5BB2, #EF698C);
    font-family: 'Roboto Slab', serif;
    font-size:20pt;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translate(0, -60px, 0);
     }

    to {
        opacity: 1;
        transform: translate(0, 0, 0);
      }
}

.login {
    animation-name: animation;
    animation-duration: 2s;
    background-color: white;
    font-family: sans-serif;
    color: #3a1a53;
    width: 35%;
    min-width: 300px;
    padding: 40px;
    border: 0px solid #9D5BB2;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #a32ea3;
    position: relative;
}

.form-login {
    background-color: #ffffff;
}

.btnfechar {
    position: absolute;
    font-size: 1.2rem;
    width: auto;
    right: -3px;
    height: 35px;
    top: -3px;
    border-radius: 5px;
    border: 1px solid #a32ea3;
    background: linear-gradient(to bottom right, #9D5BB2, #EF698C);
    font-family: 'Varela Round', sans-serif;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}

.entrarbtn {
    background: linear-gradient(to bottom right, #9D5BB2, #EF698C);
    font-family: 'Varela Round', sans-serif;
    color: white;
    align-content: center;
    border-radius: 35px;
    transition: 0.5s;
    margin-top: 15px;
    cursor: pointer;
}


/* coloca shadow nas caixas de texto */
#modal input {
    height: 30px;
    box-shadow: 1px 1px 1px 2px #3333333b;
    border-radius: 20px;
}

/* ---------------------------------------------------------------------------------------------------------------------- */



@media(max-width: 760px) {
    body {
        font-size: 1.4rem;
        grid-template-rows: 15vh 60vh 150vh auto auto auto auto;
        grid-template-areas: 'nav nav nav nav'
            'header header header header '
            'fstSection fstSection fstSection fstSection'
            'scdSection scdSection scdSection scdSection '
            'thdSection thdSection thdSection thdSection'
            'registrar registrar registrar registrar '
            'footer footer footer footer';
    }

    nav a {
        display: none;
    }

    header .info-content {
        align-items: center;
    }

    header p {
        text-align: center;
    }


    /* ------------------------- */

    section.sobre {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    section.sobre .sobre-content {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    div.items {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 60%;
    }

    div.items img {
        padding: 15px;
        border-radius: 40px;
    }

    /* ----------------------------------------------------------------- */

    section.carrossel {
        flex-direction: column;
        padding: 5% 0;
    }

    .carrossel p {
        width: 100%;
    }

    .carrossel.form {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .carrossel input {
        text-align: center;
        padding: 0;
        width: 100%;
        border-radius: 10px 10px 0 0;
        display: block;
    }

    iframe {
        margin-top: 5%;
    }

    .carrossel button {
        margin: 0;
        width: 100%;
        border-radius: 0 0 10px 10px;
        display: block;
    }

    /* ============================================================================= */
}




    /* ----------------------footer------------------------------------------- */
    footer {
        grid-area: footer;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #3d3d3d;
    }
    
    .card{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 1200px;
        height: 32vh;
    }
    
    
    .links{
        width: 760px;
        height: 32vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .Redes{
        width: 370px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .names{
        width: 385px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .names p{
        margin: 0;
        padding: 0;
        font-family: 'Roboto Slab', serif;
        font-size: 25px;
        font-weight: bold;
        color: #ffff;
    
    }
    .balltwt{
        width: 95px;
        height: 95px;
        border-radius: 50%;
        background-image: url("/static/img/icons/icontwt2.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .ballinsta{
        width: 95px;
        height: 95px;
        border-radius: 50%;
        background-image: url("/static/img/icons/iconinsta2.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .ballfb{
        width: 95px;
        height: 95px;
        border-radius: 50%;
        background-image: url("/static/img/icons/iconfb2.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .organizar{
        width: 1000px;
        height: 35vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;    
        background:none;
    }
    .organizar h1{
        margin: 5px;
        font-size: 27px;
        font-weight: bold;
        color: #ffff;
    }
    .organizar p{
        margin: 0;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        font-weight: bold;
    }
    
    

