@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
    border: none;
}
html{
    height: 100%;
}
body{
    /*background-color: #3d3d3d; */
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

 /*------- style do form -----*/
 form{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#fff;
    justify-content: center;
    width: 60%;
    height: 500px;
    left:20%; 
    margin: 10px;   
}


/*---- ----- colocar  em colunas  -----*/
.column1, .column2, .column3{
    display: flex;
    flex-direction: column;
    padding:25px;
    font-size: 0.6rem;

}

/*----------- style das labels -----*/
label {
    font-size: 0.7rem;
    margin: 5px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.5px;
    color: rgba(24, 24, 24, 0.767);
}

h2{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.4rem;
    color: #3a1a53;
}


input, option, select{
    height: 30px;
    box-shadow: 1px 1px 1px 1px #33333323; 
 
}

/*---- style do botao de cadastro -----*/

input{

}

.button{
    background: linear-gradient(to bottom right, #9D5BB2, #EF698C);
    font-family: 'Varela Round', sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 15px;
    cursor: pointer;
}


#paciente{
    /* display: none; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 15%;
    border-radius: 20px;
}
#instituicao{
    /* display: none; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 15%;
    border-radius: 20px;
}

#formulários{
    display: none;
    height: 100vh;
}

#first {
    width: 180px;
    height: 180px;
    background-color: white;
    /* background-image: url("/static/img/pacient.png"); */
    border-radius: 100px;
}

#second {
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 100px;
}

#container{
    width: 70%;
    height: 300px;
    margin-left: 15%;
    margin-top: 15%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}
.caixa {
    width: 160px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.caixa p{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

/* .button{
    color: #fff;
    background-color: #1289A7;
    border-radius: 35px;
    transition: 0.5s;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 25px;
    cursor: pointer;
    width: 190px;
    height: 45px;
    margin-top: 15px;
    font-family: 'Varela Round', sans-serif;
    transition: .2s;
} */

/*----------- botao de buscar cpf ---------*/
.btn{
    font-size: 0.6rem;
    background: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    
}


@media(max-width: 760px) {
    form{
        height: 200vh;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        left: 0%;

    }


    
#paciente ,  #instituicao {
    justify-content: center;
    top: 5%;

}

.column1, .column2, .column3{
    display: flex;
    flex-direction: column;
    padding:5px;
    font-size: 0.6rem;
}
}
