{% extends 'shared/layout.html' %}
{% load static %}
{% block conteudo %}

<body>
    <script src="{% static 'js/scroll-suave.js' %}" defer></script>
    <nav>
        <span class="logo"> help.se </span>
        <ul>
            <li><a id="link-inicio" href="/"> Home </a> </li>
            <li><a id="link-projeto"> O projeto</a> </li>
            <li><a id="link-carrossel"> Curiosidades </a> </li>
            <li><a id="link-beneficio"> Benefícios </a> </li>
            <li><a id="link-sobre" href="/sobre"> Equipe </a> </li>


            {% if logado %}
            <div class="buttons">
                <a href="perfil"><button class="primary">Perfil</button></a>
                <button id="btn-sair" class="btn-sair secondary">Sair</button>
            </div>

            {% else %}
            <div class="buttons">
                <a href="cadastro"><button class="primary">cadastre-se</button></a>
                <button id="btnmostrar" class="btnmostrar secondary">entre</button>
            </div>
            {% endif %}
        </ul>
    </nav>
    <main>

        <header>
            <div class="info-content">
                <h1>Encontre a solução para seus problemas aqui {{instituicao}} </h1>
                <p>{{msg}} </p>


                <div class="input-container">
                    <form method="get" class="search-bar especialidade" action="/busca_especialidade">
                        <input class="text input" data-js="pesquisa-especialidade" name='q' id="id_q" type="text"
                            placeholder="busque por especialidade">
                        <img class="input-icon" draggable="false" src="{% static 'img/search.svg' %}" alt="">
                    </form>

                    <form method="get" class="search-bar localidade" action="/busca_localidade">
                        <input class="text input" name='q' type="text" data-js="pesquisa-localidade"
                            placeholder="busque por localidade">
                        <img class="input-icon" draggable="false" src="{% static 'img/pin.svg' %}" alt="">
                    </form>

                    <!-- Ao pesquisar o django limpa o input, usamos js pra manter o que foi digitado no lugar -->
                    <script>
                        document.querySelector('[data-js="pesquisa-especialidade"]').value = '{{query}}';
                        document.querySelector('[data-js="pesquisa-localidade"]').value = '{{query_l}}';
                    </script>
                </div>
            </div>

            {% if mostrar_resultados %}
            <section class="resultados">
                <h2> encontramos {{num_resultados}} resultados para {{query}}</h2>
                <ul class="ul-resultados">
                    {% if object_list %}
                    {% for inst in object_list %}
                    <li>
                        <div class="instituicao-container">
                            <span class="row">
                                <img src="{% static 'img/adwords.svg' %}" alt="">
                                <h3>{{inst.nome_empresa}}</h3>
                            </span>

                            <span class="column">
                                <h3>presencial</h3>

                                <p>{{inst.municipio}}</p>
                            </span>

                            <span class="info-distancia">1km</span>
                        </div>
                    </li>

                    {% endfor %}

                    {% else %}
                    <li>
                        <div class="instituicao-container">
                            <p>nao achamos nada</p>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </section>
            {% endif%}
        </header>


        <!--------------------------------- 1: SECTION SOBRE O PROJETO -------------------------------------------->
        <section class="projeto">


            <div projeto-container>
                <div class="img"><img src="../static/img/choice.png" alt=""></div>
                <div class="txt-projeto">
                    <h1>Help</h1>
                    <p> O ' nome do nosso projeto' foi criado com o intuito de auxiliar jovens com disturbíos de
                        depressão e
                        ansiedade a procurarem tratamento de forma prática e simples. </p>
                    <p>Por meio dela, poderemos aproximar
                        jovens
                        com
                        instituições e consultórios que os auxiliarão em um tratamento adequado.
                    </p>
                </div>
                <a href="cadastro"><button class="cadastrobtn">Faça Parte</button></a>
            </div>
        </section>


        <!-------------------------------------- 2: SECTION DO CARROSSEL ----------------------------------------->

        <section class="carrossel">
            <div class="gif"></div>
            <div class="box-text">
                <h2> Segundo a OMS (Organização Mundial de Saúde) <br> 4,4% da população mundial sofrem com depressão,
                    sendo
                    5,8% no Brasil
                </h2>
            </div>

            <div class="box-text">
                <h2> O Brasil é recordista mundial em transtornos de ansiedade,<br>sendo 9,3% de brasileiros que
                    constantemente sofrem com esse transtorno.</h2>
            </div>

            <div class="box-text">
                <h2>De acordo com o instituto de psiquiatria do hospital das clinícas,<br> cerca de 10% de crianças e
                    adolescentes sofrem com ansiedade.
                </h2>
            </div>

            <div class="box-text">
                <h2>Professores da UFRN citam uma série de fatores de risco
                    que deixam os estudantes vulneráveis à depressão, como distância de casa, dificuldades financeiras e
                    principalmente a pressão. E que 5% desses jovens declararam a tentativa de suicídio.
                </h2>

            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(+1)">&#10095;</a>

            <div class="navegation">
                <label class="dot" onclick="currentSlide(1)"></label>
                <label class="dot" onclick="currentSlide(2)"></label>
                <label class="dot" onclick="currentSlide(3)"></label>
                <label class="dot" onclick="currentSlide(4)"></label>
            </div>

        </section>

        <!----------------------------- 3: SECTION SOBRE AS VANTAGENS DA PLATAFORMA --------------------------->
        <section class="sobre">

            <h2> BENEFÍCIOS DA PLATAFORMA </h2>

            <div class="sobre-content">
                <div class="items">
                    <img src="{% static 'img/icons/video-call.svg' %}" alt="">
                    <h2> Consultas Dinâmicas </h2>
                    <p> Atendimento online e presencial a escolha do cliente, <br>rápido e simples, é só conectar.</p>
                </div>
                <hr>
                <div class="items">
                    <img src="{% static 'img/icons/heart.svg' %}" alt="">
                    <h2>Flat Design</h2>
                    <p>Lorem ipsum dolor sit amet <br> consectetur adipisicing elit.</p>
                </div>
                <hr>
                <div class="items">
                    <img src="{% static 'img/icons/map-location.svg' %}" alt="">
                    <h2> Facilidade de Busca </h2>
                    <p> Encontre os melhores consultórios e instituições <br>mais próximo de você.</p>
                </div>
                <hr>
            </div>

            <div class="sobre-content">
                <div class="items">
                    <img src="{% static 'img/icons/icon_custo.png' %}" alt="">
                    <h2> Custo Benefício </h2>
                    <p> Agende com os melhores profissionais <br> pelo menor preço e com instituições gratuitas. </p>
                </div>
                <hr>
                <div class="items">
                    <img src="{% static 'img/icons/icon_avaliation.png' %}" alt="">
                    <h2> Pré-Análise </h2>
                    <p> Questionário que avalia o estado do paciente,<br> a fim de auxiliar na procura de tratamento.
                    </p>
                </div>
                <hr>
                <div class="items">
                    <img src="{% static 'img/icons/icon_calendar.png' %}" alt="">
                    <h2> Agendamento Online </h2>
                    <p> Agendamento rápido e simples. <br> Escolha o melhor local, data e horário </p>
                </div>
                <hr>

            </div>
        </section>

        <!------------------------------- 4: FOOTER --------------------------------------->

        <footer>
            <div class="organizar">
                <div class="footer-container">
                    <ul>
                        <h3>Help</h3>
                        <li><a id="link-projeto" href="/"> O projeto</a> </li>
                        <li><a id="link-carrossel" href="/"> Curiosidades </a> </li>
                        <li><a id="link-beneficio" href="/"> Benefícios </a> </li>
                        <li><a id="link-sobre" href="/sobre"> O time </a> </li>
                    </ul>
                </div>
                <div class="links">
                    <h3> Fique por dentro de tudo que acontece por aqui</h3>
                    <div class="Redes">
                        <a class="ballfb" href="https://www.facebook.com/" target="_blank" id="fb"></a>
                        <a class="balltwt" href="https://www.linkedin.com" target="_blank" id="twt"></a>
                        <a class="ballinsta" href="https://www.instagram.com/" target="_blank" id="insta"> </a>
                        <a class="ballyt" href="https://www.youtube.com" target="_blank" id="youtube"> </a>
                    </div>


                </div>
            </div>


        </footer>


        <!----------------- LOGIN ----------------->

        <div id="modal" class="login-container">
            <div class="login">
                <button class="btnfechar">x</button>
                <p class="p-login">Entre</p>
                <form class="form-login" method="POST" action="/login">
                    {% csrf_token %}
                    <p>Digite seu e-mail:</p>
                    <input type="email" name="email" placeholder=' exemplo@gmail.com' required>
                    <p>Digite sua senha:</p>
                    <input type="password">
                    <p class="msg"> {{msg}}</p>
                    {% if logado %}
                    <p class="msg">esta logado</p>
                    {% endif %}
                    <input class="entrarbtn" type="submit" value="Entrar  ">
                </form>
            </div>
        </div>
        {% if modal_ativo %}
        <script>
            document.getElementById('modal').classList.add('mostrar');
        </script>
        {% endif %}
    </main>
</body>

{% endblock %}