{% extends 'shared/layout.html' %}
{% load static %}
{% block conteudo %}

<body>
    <script src="{% static 'js/scroll-suave.js' %}" defer></script>

    <nav>
        <span class="logo"> logo bonitão </span>
        <ul>
            <li><a id="link-inicio" href="/"> inicio </a> </li>
            <li><a id="link-sobre"> sobre nós</a> </li>
            <li><a id="link-carrossel"> levar p carrossel</a> </li>

            <div class="buttons">
                <a href="cadastro"><button class="primary">cadastre-se</button></a>
                <button id="btnmostrar" class="btnmostrar secondary">entre</button>
            </div>
        </ul>
    </nav>

    <header>
        <div class="info-content">
            <h1>encontre tanana tananaa </h1>
            <p>{{msg}} </p>
            {% if logado%}
            <!-- exibir uma nav diferente -->
            está logado
            {% endif %}
            <form class="search-bar" action="/agendar">
                {% csrf_token %}
                <input class="text input" name=`search-bar` type="text" name="" id="" placeholder="onde você está?">
                <input class="sub input" type="submit" value="Q">
            </form>
        </div>

        {% if mostrar_resultados %}
        <section class="resultados">
            <h2> encontramos x instituições em "lorem valley"</h2>
            <ul class="ul-resultados">
                <li>
                    <div class="instituicao-container">
                        <span class="row">
                            <img src="{% static 'img/adwords.svg' %}" alt="">
                            <h3>void psicologia</h3>
                        </span>

                        <span class="column">
                            <h3>presencial</h3>
                            <p>local</p>
                        </span>

                        <span class="info-distancia">1km</span>
                    </div>
                </li>

                <li>
                    <div class="instituicao-container">
                        <span class="row">
                            <img src="{% static 'img/deviantart.svg' %}" alt="">
                            <h3>zapsicologia</h3>
                        </span>

                        <span class="column">
                            <h3>presencial</h3>
                            <p>local</p>
                        </span>

                        <span class="info-distancia">1km</span>
                    </div>
                </li>

                <li>
                    <div class="instituicao-container">
                        <span class="row">
                            <img src="{% static 'img/adwords.svg' %}" alt="">
                            <h3>void psicologia</h3>
                        </span>

                        <span class="column">
                            <h3>presencial</h3>
                            <p>local</p>
                        </span>

                        <span class="info-distancia">1km</span>
                    </div>
                </li>

                <li>
                    <div class="instituicao-container">
                        <span class="row">
                            <img src="{% static 'img/deviantart.svg' %}" alt="">
                            <h3>zapsicologia</h3>
                        </span>

                        <span class="column">
                            <h3>presencial</h3>
                            <p>local</p>
                        </span>

                        <span class="info-distancia">1km</span>
                    </div>
                </li>
            </ul>
        </section>
        {% endif%}
    </header>

    <!----------------------------- SECTION SOBRE O PROJETO --------------------------->
    <section class="sobre">
        <!-- <h2>um pouco sobre nós</h2> -->
        <div class="sobre-content">
            <div class="items">
                <img src="{% static 'img/icons/video-call.svg' %}" alt="">
                <h2>Editable Theme</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <hr>
            <div class="items">
                <img src="{% static 'img/icons/heart.svg' %}" alt="">
                <h2>Flat Design</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <hr>
            <div class="items">
                <img src="{% static 'img/icons/map-location.svg' %}" alt="">
                <h2>Reach your audience</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <hr>
        </div>

        <div class="sobre-content">
            <div class="items">
                <img src="{% static 'img/icons/icon_custo.png' %}" alt="">
                <h2>Editable Theme</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <hr>
            <div class="items">
                <img src="{% static 'img/icons/icon_avaliation.png' %}" alt="">
                <h2>Flat Design</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <hr>
            <div class="items">
                <img src="{% static 'img/icons/map-location.svg' %}" alt="">
                <h2>Reach your audience</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <hr>

        </div>
    </section>


    <!-------------------------------------- SECTION DO CARROSSEL ----------------------------------------->

    <section class="carrossel">

        <div class="box-text">
            <h2> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur, tenetur illo? Veritatis porro ea
                quod laudantium aut temporibus, error a. </h2>

        </div>

        <div class="box-text">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, deserunt.</h2>
        </div>

        <div class="box-text">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quaerat ad mollitia? Blanditiis ex odit
                illum consequuntur adipisci repellendus. <br> Magni quo deserunt id ipsam quos in aliquam ex expedita,
                architecto quis reiciendis? Porro fugit voluptatum quos at assumenda nihil perspiciatis?</h2>
        </div>

        <div class="box-text">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quos aperiam, corporis, pariatur ipsam
                ab sint harum vel mollitia hic corrupti <br> tempore temporibus a sapiente repellendus dolores commodi animi
                odio. Ipsa vero voluptates iusto, harum voluptatum ipsum dolor br exercitationem! Culpa tenetur aliquam
                neque doloremque sapiente dolorem, adipisci excepturi quis error.</h2>

        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(+1)">&#10095;</a>

        <div class="navegation">
            <label class="dot" onclick="currentSlide(1)"></label>
            <label class="dot" onclick="currentSlide(2)"></label>
            <label class="dot" onclick="currentSlide(3)"></label>
            <label class="dot" onclick="currentSlide(4)"></label>
        </div>

    </section>



    <!---------- FOOTER ------------>

    <footer>
        <div class="footer-card">
            <ul>
                <span class="logo">loguinho</span>
                <p>dfsjhfdjhfdshjfdsjhfdhjlffs</p>
                <span class="social">
                    <li><a href="#">FB </a></li>
                    <li><a href="#">TT </a></li>
                    <li><a href="#">IN </a></li>
                </span>
            </ul>
            <hr>
        </div>

        <div class="footer-card">
            <ul>
                <li>
                    <h3> Como tudo começou...</h3>
                </li>
                <li><a href="#">lorem etc </a></li>
                <li><a href="#">lorem etc </a></li>
                <li><a href="#">lorem etc </a></li>
            </ul>
        </div>

        <div class="footer-card">
            <ul>
                <li>
                    <h3> Como tudo começou...</h3>
                </li>
                <li><a href="#">lorem etc </a></li>
                <li><a href="#">lorem etc </a></li>
                <li><a href="#">lorem etc </a></li>
            </ul>
        </div>
    </footer>


    <!--------------------------------- LOGIN DINÂMICO -------------------------------->

    <div id="modal" class="login-container">
        <div class="login">
            <button class="btnfechar">x</button>
            <p class="p-login">Entre</p>
            <form class="form-login" action="/">
                {% csrf_token %}
                <p>Digite seu e-mail:</p>
                <input type="email" name="email" placeholder=' exemplo@gmail.com' required>
                <p>Digite sua senha:</p>
                <input type="password">
                <p class="msg"> {{msg}}</p>
                <input class="entrarbtn" type="button" value="Entrar  ">
            </form>
        </div>
    </div>
</body>

{% endblock %}