{% extends 'shared/layout-perfil.html' %}

{% block conteudo %}


<section>
        <!-- Div para inserir a parte de dados do cliente ou instituição -->
        <div class="left">
                <div class="perfil">
                    <img src="static/img/icon.png" alt="" width="165px" height="165px">
                    <h1>Nome: {{paciente.nome}}</h1>
                </div>

                <input type="button" class="inform" value="Dados Pessoais">
    
                <!-- <input type="button" class="inform" value="Procurar Instituições"> -->
                <a href="templates/index.html" class="inform"> Procurar Instituições  </a>
    
                <input type="button" class="inform" value="Consultas Agendadas">
     
                <input type="button" class="inform" value="Atualizar Dados">
        </div>
    
        <!-- Div para agendamento de consulta e direcionar para questionário -->
        <div class="right">
                <h1>Agendamento de Consultas</h1>
                <div class="calender">
                        <div class="month"> 
                                <ul>
                                  <li class="prev">&#10094;</li>
                                  <li class="next">&#10095;</li>
                                  <li>Agosto<br><span style="font-size:18px">2019</span></li>
                                </ul>
                              </div>
                              
                              <ul class="weekdays">
                                <li>Mo</li>
                                <li>Tu</li>
                                <li>We</li>
                                <li>Th</li>
                                <li>Fr</li>
                                <li>Sa</li>
                                <li>Su</li>
                              </ul>
                              
                              <ul class="days"> 
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li>7</li>
                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                                <li>15</li>
                                <li>16</li>
                                <li>17</li>
                                <li>18</li>
                                <li><span class="active">19</span></li>
                                <li>20</li>
                                <li>21</li>
                                <li>22</li>
                                <li><span class="active2">23</span></li>
                                <li>24</li>
                                <li>25</li>
                                <li>26</li>
                                <li>27</li>
                                <li>28</li>
                                <li>29</li>
                                <li>30</li>
                                <li>31</li>
                              </ul>
                </div>
    
                <div class="escolha">
                    <h2>Terapia Online</h2>
                    <H3>Selecione:</H3>
                    <div class="botoes">
                                <button> <a href="quiz">Depressão</a> </button>
                            <button> <a href="quiz">Ansiedade</a> </button>
                                    
                    </div>
    
                </div>
            </div>    
    
    </section>

{% endblock %}
